.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

/* imageUrl: https://i.pinimg.com/originals/9d/76/fb/9d76fbcb1f778284a336e1b52f664039.jpg    
  https://alisonbrewsterphotographyphotoshoots.files.wordpress.com/2014/02/img_6670.jpg
*/
